[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "vkheaders"]
	path = vkheaders
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
